<!DOCTYPE html>
<html>
<head>
  <title>CoreDoc</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container" ng-app="CoreDoc">
  <div ng-controller="CoreDocCtrl">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <a class="brand" href="/">CoreDoc</a>

      </div>
    </div>
    <%= yield %>
  </div>
</div>

</body>
</html>
